<div class="contenedor">

    <div class="span">

        <span>'Dados '{{ dices.colorName}}:</span><br>

    </div>

    <div class="dados">

        <div class="form-group" *ngFor="let asdfg of dices.dicesValues, let i = index">

            <select class="form-control" [value]="asdfg" name="name{{i}}">

                <option>{{asdfg}}</option>

                <option *ngFor="let opciones of arrayOpciones(1,8)">{{opciones}}</option>

            </select>
            <br />
            <button type="button" (click)="rollDice(i)">Lanzar</button>
            <hr>
        </div>
    </div>

</div>