<div class="contenedor">

    <div class="span">

        <span>'Dados '{{ diceGroup.colorName}}:</span><br>

    </div>

    <div class="dados">

        <div class="form-group" *ngFor="let dice of diceGroup.dices; let i = index">

            <select class="form-control" [value]="dice.value" name="name{{i}}" [ngClass]="dice.status">

                <option>{{dice.value}}</option>

                <option *ngFor="let opciones of arrayOpciones(1,8)">{{opciones}}</option>

            </select>
            <br />
            <button type="button" (click)="rollDice(i)">Lanzar</button>
            <hr>
        </div>
    </div>

</div>