<div class="container">

    <div class="tituloPrincipal">
        <h1>Tirada de Dados WoW - El juego de mesa</h1>
    </div>

    <div class="configuration-container" style="display: flex; gap: 15px;">
        <div class="form-group">
            <label for="colors">Colores de dados:</label><br>
            <div class="contenedorNumeroDados" *ngFor="let dice of dicesGroups">
                <input class="form-range" type="range" min="0" max="7" [(ngModel)]="dice.quantity">{{dice.colorName}}
                <input class="form-control" type="number" [(ngModel)]="dice.quantity" min="0" max="7">
                <br>
            </div>
        </div>
    </div>
    <hr>
    <button (click)="rollDices()">Lanzar Dados</button>
    <div class="results">
        <div class="dice-results-container" *ngIf="showResults">
            <p class="result-text">Resultados:</p>
            <div *ngFor="let dicesByColor of dicesGroups">
                <app-dice [diceGroup]="dicesByColor"></app-dice>
            </div>
        </div>
    </div>
</div>